:root {
    --purple: rgba(66, 47, 106, 0.895);
    --body-purple: rgba(35, 17, 70, 0.895);
    --deep-purple:rgba(19, 2, 53, 0.895);
    --light: aliceblue;
}

body {
    background-color: var(--body-purple);
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

figure {
    background: linear-gradient(var(--purple),var(--body-purple));
    font-family: 'Noto Sans Cypro Minoan', sans-serif;;
    color: var(--light);
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 4px 4px 2px 1px rgba(10, 1, 27, 0.895);
    
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

header h1 {
    display: flex;
    position: relative;
    align-self: center;
}

header span {
    margin: 5px;
    display: flex;
}

main {
    text-align: center;
    width: 100%;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

#tuner-container {
    background-color: var(--deep-purple);
}

#tuner {
    width: 100%;
}

#fav-stations {
    background-color: var(--deep-purple);
}

#frequency {
    padding: 30px;
    display: flex;
}

#frequency h2{
    background: rgba(245, 245, 245, 0.333);
    width: 100px;
    height: 100px;
    margin: auto;
    padding: 25px;
    border-radius: 100%;
    border: solid 1px whitesmoke;
}

#frequency span {
    display: inline;
    align-self: center;
}

.hidden {
    display: none;
}